body {
    background-color: gray;
}

.space {
    margin-top: 500px;
}

h1 p {
    color: white;
}

.base {
    margin: 50px;
}

.border {
    background-color: gray;
}

.final_img {
    width: 100%;
    object-fit: cover;
}